<!DOCTYPE html>
    <head>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
		
		<header class="main-header">
			<div class="container">
                <ul class="main-nav-list">
                    <li>
                        <h1 class="mh-logo">
                            <img src="logo_terbangin.png" alt="logo" width="100px">
                        </h1>
                    </li>
                    <li>
                        <p>E-Tiket Pesawat</p>
                    </li>
                </ul>
                <h1>Terbangin</h1>
				<nav class="main-nav">
					<ul class="main-nav-list">
						<li>
							Kode booking Anda:
						</li>
                        <li>
							<div class="kodebooking">FRFBGA</div>
						</li>
					</ul>
				</nav>
			</div>
		</header>

        <h2>Rencana Penerbangan</h2>
        <h2 style="color: #999999;">Order ID: 10928735</h2> 
        <p style="color: #2ec9a7;">*Gratis Gift Voucher 75K untuk Diskon Car Transfer.</p>

        <table class="tabel-terbang">
            <thead>
                <tr>
                    <th colspan="5">Penerbangan Pergi || Selasa, 8 November 2022</th>
            </thead>
            <tbody>
                <tr>
                    <td>Airline Booking Code<br><i>SBLQZY</i></td>
                    <td>
                        <b>Lokasi & Jadwal Keberangkatan</b>
                        <br>Semarang<br>8 November 2022
                        <br>16.00
                    </td>
                    <td>
                        <b>Lokasi & Jadwal Tujuan</b>
                        <br>Jakarta<br>8 November 2022
                        <br>16.45
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <img src="airaisa.jpg" alt="maskapai" width="100px"><br>
                        <h4>AirAsia</h4><br>
                        AA 6215<br>
                        Ekonomi
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <!-- and so on... -->
            </tbody>
        </table>
        
        
        <br>
        <h2>Detail Penumpang</h2>

        <table class="tabel-penumpang">
            <thead>
                <tr>
                    <th>No.</th>
                    <th>Penumpang</th>
                    <th>Tipe Tiket</th>
                    <th>No. Tiket</th>
                    <th>No. Penerbangan</th>
                    <th>Fasilitas</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td data-th="Movie Title">1.</td>
                    <td data-th="Genre">Rachmawati Halim</td>
                    <td data-th="Year">Dewasa</td>
                    <td data-th="Gross">62839541384</td>
                    <td data-th="Gross">GA.4205</td>
                    <td data-th="Gross">10kg</td>
                </tr>
            </tbody>
        </table>

        <!--<p>&larr; Drag window (in editor or full page view) to see the effect. &rarr;</p>-->

        <br>
        <hr>

        <h3>Catatan</h3>
        <ol>
            <li>Perlihatkan E-Tiket & Identitas Valid saat check-in.</li>
            <li>Check-in paling lambat 90 menit sebelum keberangkatan.</li>
            <li>Waktu tertera adalah waktu bandara setempat.</li>
        </ol>

	</body>
</html>