{
	"tabWidth": 2,
	"useTabs": true,
	"editorconfig": true,
	"bracketSpacing": true,
	"arrowParens": "always",
	"bracketSameLine": false,
	"endOfLine": "auto",
	"jsxSingleQuote": false,
	"quoteProps": "as-needed",
	"printWidth": 145,
	"semi": true,
	"trailingComma": "none",
	"singleQuote": true,
	"singleAttributePerLine": false
}
